.Bienvenida{
        color: white;
        background-color: #1b3039;
        margin: 5%;
        padding: 1%;
        text-align: center;
        font-size: 1.5 rem;
        box-shadow: black;
        margin-top: 2%;


}